@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100vw;
    height: 100vh;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    padding-left: 10%;
    padding-right: 10%;
    height: 10%;
    background: rgba(211, 211, 211, 0.189);
}

.logo-container {}

.logo-container .bank-logo {}

.navbar-container {}

.navbar-container .navbar .nav-ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.navbar-container .navbar .nav-ul li:first-child {
    color: black;
}

.navbar-container .navbar .nav-ul li {
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    color: gray;
    font-weight: 500;
}

.login-button {
    padding: 6px 10px;
    border: none;
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.main-part {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-part-header {
    position: absolute;
    top: 10%;
    left: 20%;
    font-size: 36px;
}

.main-part section {
    padding: 50px;
    position: relative;
}

.buttons-n-input-wrapper {
    padding: 50px;
    width: 500px;
}

.input-container {
    border: 2px solid lightgray;
    height: 10rem;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 57.5vh;
    border-radius: 5px;
}

.input-container input {
    outline: none;
    height: 100%;
    font-size: 30px;
    font-weight: 900;
    border: none;
    margin-bottom: 20px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.buttons-container {
    height: 38px;
    width: 75.5vh;
    margin-bottom: 30px;
}

.buttons-container button:first-child,
.buttons-container button:nth-child(2),
.buttons-container button:nth-child(3),
.buttons-container button:last-child{
    height: 100%;
    margin: 0;
    width: 20%;
    margin-right: -2%;
    cursor: pointer;

    border: 2px solid lightgray;
    border-radius: 5px;
    color: lightgray;

}
.button-selected{
    background-color: #833AE0;
    color: #fff;
}
.info{
    margin-bottom: 10px;
    color: lightgray;
    font-size: 15px;
    font-weight: 500;
}
.buttons-section-text{
    position: absolute;
    left: 17%;
    top: 15%;
    color: lightgray;
    font-size: 14px;
    font-weight: 500px;
}