@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 100vw;
    height: 100vh;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    padding-left: 10%;
    padding-right: 10%;
    height: 10%;
    background: rgba(211, 211, 211, 0.189);
}
.logo-container{

}
.logo-container .bank-logo{

}
.navbar-container{

}
.navbar-container .navbar .nav-ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.navbar-container .navbar .nav-ul li:first-child{
    color: black;
}
.navbar-container .navbar .nav-ul li{
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    color: gray;
    font-weight: 500;
}
.login-button{
    padding: 6px 10px;
    border: none;
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.main-part{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main-part-header{
    position: absolute;
    top: 10%;
    left: 20%;
    font-size: 36px;
}
.main-part section{
    padding: 50px;
}
.buttons-n-input-wrapper{
    padding: 50px;
}
.input-container{
    border: 1px solid black;
    height: 100px;
    padding: 20px;
}
.input-container input{
    outline: none;
    height: 80%;
    font-size: 30px;
    font-weight: 900;
    /* border: none; */
}
.buttons-container{
    height: 30px;
    width: 260px;
}
.buttons-container button{
    height: 100%;
    margin: 0;
    width: 20%;
    margin-right: -2%;
}
